* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.navImg {
    display: flex;
}

.icon {
    display: flex;
    width: 45px;
    height: 45px;
    align-self: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 50%;
}

#icon {
    align-self: center;

}

.icon1 {

    display: none;
    width: 50px;
    height: 50px;
    margin-left: 10px;

}

#icon1 {
    align-self: center;
}

.balance {
    color: rgba(137, 43, 226, 0.89);

}


.container {
    width: 100%;
    height: 75%;
    background-color: rgb(255, 196, 0);
    background-image: linear-gradient(to right, rgb(185, 9, 255), #ff8800);
}


.devInfo {
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;

}

@media screen and (max-width:767px) {
    .devInfo {
        margin-top: 0;
    }
}

.devPic img {
    height: 70vh;
    width: 40vw;
}

.hello {
    font-size: 38px;
    animation: 1s helloVisible;
}

@keyframes helloVisible {
    from {
        margin-left: 50px;
        opacity: 0%;
    }

    to {
        margin-left: 0;
        opacity: 100%;
    }
}

.name {
    font-size: 28px;
    margin-top: -12px;
}

.about {
    font-size: 18px;
    margin-top: -4px;


}

.programming {
    animation: 5s textChange1 infinite;
}

@keyframes textChange1 {
    0% {
        opacity: 100%;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.games {
    animation: 5s textChange2 infinite;

}

@keyframes textChange2 {

    0% {
        opacity: 0;

    }

    33% {
        opacity: 100%;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

.movies {
    animation: 5s textChange3 infinite;


}

@keyframes textChange3 {

    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}


/*-------------------about me-----------------*/
.aboutMe {
    margin-top: 40px;
}

.abt {
    text-align: center;
    font-size: 20px;
    color: blueviolet;
    font-weight: 600;
    text-decoration: underline;

}

.whoAmI {
    text-align: center;
    font-size: 18px;
    color: blueviolet;
    font-weight: 600;

}

.intro {
    margin: 8px 0px;
}

.intro,
.intro>.me {
    padding: 8px;
}

.me {
    float: left;
    width: 50%;
    text-align: justify;
}

.intro:after {
    content: "";
    display: table;
    clear: both;
}

.introduction1 {
    display: flex;
    justify-content: center;
    border-radius: 5px;

}

.image {
    width: 90%;
}

.imageSlider {
    margin-top: 8px;
    text-align: center;

}

.imageSlider button {
    border: 2px solid blueviolet;
    border-radius: 5px;
    color: white;
    background-color: blueviolet;
}

.imageSlider button:active {
    color: blueviolet;
    background-color: white;

}

.imageSlider button:hover {
    box-shadow: 0 0 10px rgb(22 21 21 / 57%);
    transition: all 200ms ease-out;
}

.introduction2 {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}

#me {
    margin-top: 10px;
}

@media screen and (max-width:768px) {
    .me {
        width: 100%;
    }

    #me {
        margin-top: 10px;
    }
}

/*-------------projects css-----------------*/

.projectTitle {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    color: blueviolet;
    font-weight: 600;
    /* background: linear-gradient(rgb(185, 9, 255), #ff8800);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    */
    text-decoration: underline;

}

.info {
    max-width: 1000px;
    margin: auto;
}

.row {
    margin: 8px 0px;
}

.row,
.row>.column {
    padding: 8px;
}

.column {
    float: left;
    width: 24%;
    border: 2px solid blueviolet;
    border-radius: 5px;
    margin: 2px;

}

.column:hover {
    box-shadow: 0 0 30px rgba(31, 29, 29, 0.57);
    transition: all 200ms ease-out;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
    text-align: justify;
}

@media screen and (max-width: 900px) {
    .column {
        width: 49%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.btn {
    font-size: 16px;
    font-weight: 550;
    border: 2px solid blueviolet;
    border-radius: 5px;
    color: white;
    background-color: blueviolet;
}
.btn:hover,.btn:focus {
    outline: none;
    color: blueviolet;
    background-color: white;
}


/*------------media screen-------------*/

@media screen and (max-width:237px) {
    .infoContainer {
        height: 100vh;
    }

}

@media screen and (min-width:398px) {
    .devPic img {
        height: 70vh;
        width: 32vw;
    }

    .image {
        width: 80%;
    }


}

@media screen and (min-width:546px) {
    .devPic img {
        height: 70vh;
        width: 26vw;
    }

    .image {
        width: 80%;
    }

    .projectTitle {
        font-size: 24px;
    }

    .abt {
        font-size: 24px;
    }

    .whoAmI {
        font-size: 17px;

    }
}

@media screen and (max-width:768px) {
    .nav {
        background-color: rgba(137, 43, 226, 0.89);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 10px rgba(22, 21, 21, 0.575);
        z-index: 2;

    }


    .icon {
        margin: auto;
    }


    .icon1 {
        display: flex;

    }

    #nav1 {
        display: none;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 2;

    }

    #nav1 ul {
        margin: 0;
        padding: 0;
    }

    #nav1 ul li {

        padding: 5px;
        margin: 1px;
        border: 1px solid black;
        border-radius: 1px;
        color: white;
        list-style-type: none;
        background-image: linear-gradient(to right, rgb(185, 9, 255, 0.89), #ff8800ec);

    }

    #nav1 ul li a {
        color: white;
    }
#nav1 ul li a:focus, #nav1 ul li a:hover{
    text-decoration: none;
        color: rgb(252, 164, 0);
}


    #nav {
        display: none;
    }

    .infoContainer {
        flex-wrap: wrap;

    }

    .hello {
        font-size: 30px;

    }

    .name {
        font-size: 20px;

    }

    .about {
        font-size: 15px;
    }

}


@media screen and (min-width:768px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        background-color: rgba(137, 43, 226, 0.89);
        flex-direction: row;
        box-shadow: 0 0 10px rgba(22, 21, 21, 0.575);
        z-index: 2;
    }

    div ul {
        display: flex;
        flex-direction: row;
        margin-left: 50px;
    }

    div ul li {
        font-weight: 700;
        list-style-type: none;
        color: white;
        margin: 10px 50px 0 0;
        font-size: 20px;
        cursor: pointer;

    }

    div ul li a {
        color: white;
    }

    div ul li a:hover,  div ul li a:focus {
        text-decoration: none;
        color: rgb(252, 164, 0);
    }


    #nav1 {
        display: none;
    }

    .devPic img {
        height: 70vh;
        width: 22vw;
    }

    .projectTitle {
        font-size: 30px;
    }

    .abt {
        font-size: 30px;
    }

    .whoAmI {
        font-size: 18px;

    }
}


@media screen and (min-width:1024px) {
    .devPic img {
        height: 70vh;
        width: 15vw;
    }

    .image {
        width: 70%;
    }
}

/*----------------Contact Us--------------*/
.mContainer {

    display: flex;
    align-items: center;
    justify-content: center;
}

.contactContainer {
    margin: 40px 0;
    border-radius: 5px;
    background-color: white;
    display: flex;
    width: 30%;
    box-shadow: 5px 5px 40px rgb(196, 193, 193);
    flex-direction: column;
}

.homeIcon {
    margin-top: 30px;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    justify-content: center;
    align-self: center;
    background-color: blueviolet;
}

.homeIcon i {
    align-self: center;
}

.box1 {
    text-align: center;
    margin-top: 20px;
    color: rgb(132, 0, 255);
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.form {

    display: flex;
    flex-direction: column;
    margin: 20px;
}

.form .box {
    background: rgba(132, 0, 255, 0.2);
    width: 70%;
    border: none;
    border-radius: 4px;
    margin: 15px;
    align-self: center;
    text-align: 9px right;
    padding: 15px;
}

.form .submit {
    cursor: pointer;
    background-color: rgb(232, 236, 240);
    width: 70%;
    border: none;
    border-radius: 4px;
    margin: 25px;
    align-self: center;
    background-color: blueviolet;
    color: white;
    height: 35px;
    width: 35%;
    border: 2px solid blueviolet;
    font-weight: 550;

}

.form .submit:hover {
    background-color: white;
    color: blueviolet;
}

.form .box:focus {
    outline: none;

}

::placeholder {
    color: rgba(0, 0, 0, 0.712);
    padding-left: 1px;
}

@media screen and (max-width:1000px) {
    .contactContainer {
        width: 40%;
    }
}

@media screen and (max-width:768px) {
    .contactContainer {
        width: 50%;
    }
}

@media screen and (max-width:620px) {
    .contactContainer {
        width: 70%;
    }
}

@media screen and (max-width:440px) {
    .contactContainer {
        width: 90%;
    }

    .form .box {
        width: 80%;
    }
}

@media screen and (max-width:240px) {
    .form .submit {
        font-size: 12px;
    }
}

/*----------------footer--------------*/
footer {
    background: rgba(132, 0, 255, 0.2);
    padding: 32px 0;
    text-align: center;
    color: #000000;
    font-size: 12px;
}

.connectWithMe {
    font-size: 20px;
}

.socialIcons {
    margin-top: 10px;
    padding: 5px;

}

.socialIcons i {
    color: black;

}

.socialIcons i:hover {
    color: blueviolet;
}

.socialIcons i:nth-child(2) {
    margin: 0 10px;
}


.socialIcons i:nth-child(4) {
    margin: 0 10px;
}

footer ol {
    padding: 0;
    margin: 0;
    list-style: none;


}

footer li {
    display: inline-block;
}

footer li a {
    padding: 6px;
    margin: 16px;
    text-decoration: none;
    color: #000000;
}

footer li a:hover {
    color: rgb(0, 0, 0);
}

@media screen and (max-width:400px) {
    footer {
        padding: 30px 0 10px 0;
    }

    footer li {
        display: block;
        margin: 5px 0;
    }
}
